[2013-03-07 20:34] marijn opened #3 "Tag a new release"
Would you mind tagging a new release?

[2013-03-08 07:01] #3 closed, assigned to nobody

[2013-03-26 17:59] dantleech opened #4 "PSR for Slugifier/Urlizer Interface"
Hi,

Just to let you know, we are making a proposal for the creation of a standard slugifier/urlizer interface at fig-standards:

[code]

There is also a mailing list post:

[code]

It would be cool if this proposal goes through and we can apply the interface to this library :)

Cheers

Dan

[2013-04-17 12:58] flevour opened #7 "Need for a constructor"
Hi there,
I sent #6 but I was thinking if there is a strong need to have an instance here.
As a user I would only care about having `Slugify::slugify($string)` and not care about implementation, because I'd expect it to default to the best mode available.
Do you know of use cases where the user would explicitly need a specific implementation?

[2013-04-17 15:16] #7 closed, assigned to nobody

[2013-09-17 13:48] ivoba opened #9 "create new version tag 0.2.3"
Can you create a new tag as stable version 0.2.3 to include the changes from the last 6 months.

These changes are missing for bundles that require slugify with ~0.2 because they end up in tag 0.2.2.

I assume the changes are stable.

[2013-09-17 14:24] #9 closed, assigned to nobody

[2014-01-13 15:44] florianeckerstorfer opened #17 "Move transliteration into adapters to make them configurable"
See [transliter](https://github.com/cocur/slugify/tree/transliter) branch.

[2014-01-16 13:36] #17 closed, assigned to nobody

[2014-03-28 14:48] #4 closed, assigned to nobody

[2014-04-13 21:35] enumag opened #26 "Add replacements for some more characters"
See https://gist.github.com/sgmurphy/3098978, there are even more characters than in this library.

[2014-04-14 11:44] #26 closed, assigned to nobody

[2014-07-21 16:53] dereuromark opened #33 "typo seperator"
seperator  => separator
on the README and maybe other locations.

[2014-07-30 09:13] #33 closed, assigned to nobody

[2014-08-02 01:02] caferrari opened #34 "Silex2 provider"
I've just made this bridge to use in a new project using silex2. The interfaces are different:

https://packagist.org/packages/caferrari/slugify-silex2-provider

[2014-08-06 09:47] #34 closed, assigned to nobody

[2014-08-24 20:43] florianeckerstorfer opened #36 "Conflicting replacements for some languages"
I realised that there are some conflicting replacements in the Slugify class. I think these are specially the Esperanto characters, since the characters are also used in other languages. For example,

Slugify.php L:60

[code]

Slugify.php L:414

[code]

Should we remove Esperanto or provide some switch for users to select which version they want?

[2014-08-26 13:06] aranw opened #38 "Laravel Bridge not loading via Composer"
Just tried installing slugify with Composer for Laravel 4 and the Laravel Bridge folder isn't being installed via composer.

Am guessing a new git tag is needed to load it into Composer?

[2014-08-26 14:54] #38 closed, assigned to nobody

[2014-08-26 18:51] #36 closed, assigned to nobody

[2014-08-29 14:11] florianeckerstorfer opened #40 "Some characters should not be replaced with the separator"
Example:

Input: `Mijn foto's`
Expected output: `mijn-fotos`
Actual output: `mijn-foto-s`

[2014-09-22 17:43] thangngoc89 opened #43 "Vietnamese support"
Vietnamese is similar to latin alphabet expect some hyphen and characters.
I have a function (search it on google) which replace vietnamese special characters with the similar in Latin characters.
Hope you'll add vietnamese to supported list
function removesign($str)
    {
        $coDau=array("à","á","ạ","ả","ã","â","ầ","ấ","ậ","ẩ","ẫ","ă","ằ","ắ"
        ,"ặ","ẳ","ẵ","è","é","ẹ","ẻ","ẽ","ê","ề",

[2014-10-30 22:24] dmyers opened #46 "Japanese support"
Is there a way to get Japanese characters to work?

[2014-10-30 22:24] dmyers opened #47 "Chinese support"
Is there a way to get Chinese characters to work?

[2014-10-31 11:00] #40 closed, assigned to florianeckerstorfer

[2014-11-08 14:33] #43 closed, assigned to florianeckerstorfer

[2014-12-03 19:14] thangngoc89 opened #50 "Latin and Vietnamese character issues"
There is one (so far) character in Vietnamese which was replace by the Latin one:
Đ => Dj
in Vietnamese, it should be Đ => D

[2014-12-04 15:43] #50 closed, assigned to nobody

[2014-12-11 21:50] kevas opened #52 "Czech missing characters"
Please add these chars: é,É

[2014-12-12 09:01] #52 closed, assigned to nobody

[2015-02-03 07:52] nviror opened #55 "How to use without Composer?"
I know it's sane to use composer these days, but for my particular use-case I can't. Is there any way I use this library by including it in my script?

[2015-02-03 07:55] #55 closed

[2015-02-03 07:56] mac2000 commented on #55
All you need is Slugify file from sources, and its interface. All other files from this repository is not needed. Just require this files and you are good to go.

[2015-02-12 18:52] lchachurski opened #56 "Turkish problem"
Hey,

Seems like some Turkish letters fall into German:

Türkiye Kupasi => tuerkiye-kupasi

While it should be turkiye-kupasi. Same problem with ö which should fall into o.

Not sure, but it seems Turkish should go to a ruleset.

[2015-02-12 19:21] mac2000 commented on #56
We need someone who knows German here probably, in my opinion `ö` should be transliterated to `o`, so with `ü`. So probably changes probably made here...

[2015-02-12 20:13] lchachurski commented on #56
Seems like German transliteration are fine according to this thread http://forum.grabaperch.com/forum/08-29-2014-encoding-of-german-umlaute-in-slugsfilenames

[2015-02-12 20:19] mac2000 commented on #56
At least right now you can add\override transliteration rules to fit your needs without waiting for new release like so:

[code]

actually I would prefer create new class that extends slugify and implements its interface and add this inside its constructor - so you can change/add custom rules whenever you need, and you always free to change slugify to anything else

[2015-02-12 20:29] florianeckerstorfer commented on #56
I'm speaking German and it's correct to transliterated ü to ue. We could probably add a Turkish ruleset.

🐯

[2015-04-01 14:08] danielanteloagra commented on #47
would be interested in this too, how would you go about it?

[2015-04-01 16:01] florianeckerstorfer commented on #47
I have little to no knowledge about Chinese, but as far as I understand that Chinese doesn't really have what we call letters. That is, you cannot really transliterate a Chinese symbol into an ASCII character (or a series of characters), because Chinese characters are basically words (or at least part of words). Again I'm not 100% sure.

Take a look at [FaSlugify](https://github.com/ammont/FaSlugi

[2015-05-06 14:48] joppuyo commented on #56
Rules for Ä and Ö are wrong in Finnish, too. They should be fall back to A and O. I'd imagine same thing with Swedish and other nordic languages. AddRule method is a good workaround for now!

[2015-05-06 19:03] mac2000 commented on #56
Here is my proposal to fix this and all other such issues in future:

1. Add `locale` property to slugify and fill it with current locale while instantiating object (or if given to constructor use it)

2. Reuse `ruleSets` and add locale specific rules

3. While instatiating object, decide is there rule set that is usable - if so - use it

4. Profit. Slugify still will be as small as possible, we w

[2015-05-07 07:47] florianeckerstorfer commented on #56
Ok, here are some of my thoughts on this issue:

- Let's call them languages, not locales. For example, German has multiple locals: *German (Austria)*, *German (Germany)*, …. They may have different rules about formatting currency or dates, but the special characters (and the associated transliterations) are the same for the language. Are there other languages where this is not the case?
- Using t

[2015-05-07 08:57] mac2000 commented on #56
Lets cal it `ruleset` instead of `language` or `locale` here is why:

User can use slugify in following scenarios:

1. **as is** - nothing special here, all just works - we never ever should break this :)

2. **locale** user set locale on server or application to desired one - slugify will determine it and apply according rulesets if any in constructor. We can substract language from locale and lo

[2015-05-08 08:08] florianeckerstorfer commented on #56
Sounds reasonable. Do you have any ideas on the actual implementation. As mentioned, currently there is one big array and if a ruleset is activated the rules of that set are copied into that big rules array. If we have a ruleset for every language we need to copy all the rules into the big rules array (and make sure that the given language/locale/ruleset is copied last (that is, it takes preferenc

[2015-05-08 11:49] mac2000 commented on #56
Here is what I'm thingking about:

https://github.com/cocur/slugify/compare/master...mac2000:master

1. Replace german characters in global rules back to what they was so by default `Ö` will be slugified to `o` so we will fix Turkish, Finnish, Swedish, Ukrainian and Russian transliteration

2. Introduce predefined ruleset `de` (and so on for each special non standard case)

3. Introduce contructor

[2015-05-08 12:21] florianeckerstorfer commented on #56
I don't think it as easy as that.

First of all I think we should define what is the "default" case. For example, for a German speaker `ä -> ae` is the default case, while for a Turkish speaker `ä -> a` is the default case. I suggest using the list of [Languages used on the Internet](https://en.wikipedia.org/wiki/Languages_used_on_the_Internet#Content_languages_for_websites).

However, I think we

[2015-05-08 12:51] mac2000 commented on #56
Oh, I see your point now - it seems that German is used much more that Turkish, Finnish etc together so German transliteration rules should take precedence.

But on the other hand - if we take German rules as default one - then we need to provide many rulesets for languages like Finnish, Turkish etc that will duplicate each other.

Ok, so I'm stuck now :)

At this moment it seems that the only way

[2015-05-11 09:54] florianeckerstorfer commented on #56
Maybe we could define a `no-umlaut` ruleset? At least temporarily, so that Turkish and Finnish people don't need to add 6 separat rules?

[2015-05-11 10:08] mac2000 commented on #56
Here is what comes in my mind:

[code]

will solve problem and we definitely can do it, but I would still recommend to use:

[code]

for following reasons:

* It is still one line of code
* It can be more specific to fit my needs
* I will not depend on ruleset that can be changed and even worth - removed so I will get exceptions

[2015-05-14 19:09] paulocoghi opened #61 "How to completely remove separators (dash, dots, spaces, etc)"
Just for simplicity, can I set slugify to remove all separators (dash, dots, spaces, etc) and concatenate every word? (this is my standard for usernames)

For example:

[code]

Does it return this (desirable) result?
[code]

[2015-05-14 19:13] paulocoghi commented on #61
Yes, it does :)

[2015-05-14 19:13] #61 closed

[2015-06-08 06:50] joppuyo commented on #56
I honestly feel a library like this should be focused on how slugified characters look, not how they sound. Downcoded characters look correct in every language as opposed to transliterated ones. Rather than assuming that everyone who uses the library is german by default, the transliteration could perhaps be explicitly enabled on per-language basis?

Just my two cents.

[2015-06-21 11:32] GDmac opened #65 "Feature request: getRules() method"
We (try to) use slugify, next to url-slugs, to also create "safe" filenames and some titles, which allow uppercase characters. The slugify rules already have conversions for uppercase, like "Ö" => "O", but these are discarded with two ``strtolower()`` calls.

- Can we have access to the protected rules by implementing a getRules() method,
  so that i can do my own ``strtr($str, $slugify->getRules(

[2015-06-25 13:32] florianeckerstorfer commented on #65
I don't like the idea of a `getRules()` method, but we could add an option to disable the conversion to lowercase. However, I would add the option to the constructor, not the `slugify()` method.

[2015-06-25 13:42] #65 closed

[2015-06-25 13:50] GDmac commented on #65
Thanks for the options, but sadly this won't work for Silex (Bridge) nor for Slugify::create()

[2015-06-25 13:57] GDmac commented on #65
When using slugify as a service-provider, there would be a need to be able to ``setOptions()`` later on.

[2015-07-02 15:32] GDmac opened #69 "Tag new release for features"
Can you create a new release for the new lowercase options?
That way we can ``composer update`` our projects.
Thank you.

[2015-07-03 17:26] GDmac commented on #69
Tadaa - thanx - https://github.com/cocur/slugify/releases/tag/v1.2

[2015-07-03 17:26] #69 closed

[2015-08-25 12:23] emnsen opened #74 "Turkish and German characters Problem"
- German:
  - Ö => OE
  - Ü => UE
  - ö => oe
  - ü => üe

- Turkish:
  - Ö => O
  - Ü => U
  - ö => o
  - ü => u

How to solve this problem ?

Example;

- "Öğretmen" the Turkish word:
  - Öğretmen => oegretmen this convert false
  - Öğretmen => ogretmen this convert true

[2015-08-25 12:27] emnsen commented on #74
Aaa.. sorry this issue open #56 please close my issue.

[2015-08-25 12:35] florianeckerstorfer commented on #74
Currently you need to manually add the rules for Turkish. I hope we can solve this problem in the future.

By the way, you can close your own issues.

[2015-08-25 12:35] #74 closed

[2015-08-30 05:03] zoransa commented on #47
I have solved it kind of...

    if (!function_exists('slugify')) {

    /**
     * Slugify string for urls
     * @param $str
     * @param string $separator
     * @param string $locale
     * @param bool $lowercase
     * @return string
     */
    function slugify($str, $separator = "-", $locale = 'en', $lowercase = false)
    {
        if (in_array($locale, ['zh'])) {
            $str = trans

[2015-10-07 11:18] choonge opened #79 "Minimum PHP version 5.5.9"
In https://github.com/cocur/slugify/commit/77e3f225a843d3d4a47445680671a27557d07d80 , the minimum PHP version was set to 5.5.9. We're having trouble now because all our production servers are running CentOS with 5.4.*.

Is there any chance that can be reverted?

[2015-10-07 11:25] mac2000 commented on #79
The core slugify itself should work fine on early PHP versions

[2015-10-07 11:31] florianeckerstorfer commented on #79
PHP 5.4 support has ended in September and we need to move on. Please use 1.4.x if you really need to use PHP 5.4 (but you should upgrade as soon as possible). I will merge bugfixes into the 1.4 branch.

[2015-10-07 11:31] #79 closed

[2015-10-07 12:29] florianeckerstorfer commented on #79
After thinking about this a little bit more, I will probably tag the version requiring PHP 5.5+ with 2.0. That way every package that depends on Slugify and correctly defined the 1.0 branch will not break.

[2015-10-07 13:25] choonge commented on #79
Thanks, sounds good!

[2015-10-10 13:02] tobiassjosten opened #80 "Swedish transliteration"
Hi! When we transliterate the Swedish characters å, ä and ö, we use a, a and o. I see you're using the German system of aa, ae and oe for Slugify.

Not really sure how best to solve this but I thought I'd raise the issue.

[2015-10-10 13:02] tobiassjosten commented on #80
Found a discussion on the subject that could be interesting: http://forum.camendesign.com/language_specific_transliteration_re_transliteration

[2015-10-10 13:02] tobiassjosten commented on #80
Found a discussion on the subject that could be interesting: http://forum.camendesign.com/language_specific_transliteration_re_transliteration

[2015-10-10 17:06] florianeckerstorfer commented on #80
This is related to #56, currently the when there are conflicts we use the one of the most popular language as the default transliteration.

In the current implementation there is no easy fix for this, however, this is something I want to solve for 2.0

[2015-10-11 12:24] tobiassjosten commented on #80
Couldn't the `slugify()` method be made to take a second, optional parameter for locale of the source string? That'd be BC and make some kind of sense, since you probably know the language of the original text.

Or what do you have planned for 2.0?

Let me know if I can help!

[2015-10-11 12:39] florianeckerstorfer commented on #80
Please read the discussion in #56. The problem is not the code, but how to organize the data.

Yes, we plan to provide a solution to this problem in 2.0

[2015-10-11 12:50] florianeckerstorfer commented on #80
I want to keep this ticket open, I don't want to forget about Swedish

[2015-10-19 09:47] kafoso opened #82 "Turn ampersand (&) into word equivalents, e.g. "and""
To make a URL truly readable, it would be a great enhancement, if the ampersand symbol - & - were to be converted into its textual counterpart, e.g.:

- **da**: og
- **de**: und
- **en**: and
- **es**: y
- **fr**: et
- **sv**: och

... and so on.

The `rulesets` is a nudge in this direction. However, this logic only allows for flat character conversion, e.g. ["x" to "y"](https://github.com/cocur/s

[2015-10-19 11:38] florianeckerstorfer commented on #82
I have to say *nay*. I think this is too language specific, I guess it would complicate things too much for an edge case. This is tied really closely to the language used for the string, much more than the rest of the transliterations rules. In most systems there will be more than one languages used. At least every system which is in some other language than English will have English words and phr

[2015-10-19 11:41] florianeckerstorfer commented on #82
I guess the better approach would be to create a separate library with this as special purpose. You could than apply the ampersand translator and Slugify in sequence if you want to see this behaviour in your stem.

[2015-10-19 17:15] kafoso commented on #82
Very good points. :+1:

Additional rules have to be taken into account. Italian is usually excellent for testing linguistic rules and exceptions.

Perhaps I'll look into creating such a library myself. :smile:

[2015-10-19 17:15] #82 closed

[2015-10-19 17:24] florianeckerstorfer commented on #82
If you do create a library drop me a line and I include a link in the readme, in case other users need something like this.

[2015-10-19 18:30] kafoso commented on #82
Sure thing.

[2015-10-29 06:49] Poojal123 opened #83 "slugify fail for long string of other language e.gMarathi,Hindi,kannada etc....."
for this msg
11:50AM - बांगलादेशमध्ये सलग तिसऱ्या वर्षी आशिया कप टी-ट्वेंटी स्पर्धेचे आयोजन करण्यात आले असून २४ फेब्रुवारी ते ६ मार्च दरम्यान ही स्पर्धा होणार आहे.
11:46AM - नगरमध्ये त्रिमूर्ती कॉलेजमधील १२ वीच्या विद्यार्थीनीची आत्महत्या, वर्गातच लावून घेतला गळफास
11:38AM - बँकॉकमधील नृत्यस्पर्धेसाठी मुख्यमंत्र्याकडून देण्यात आलेला ८ लाख रुपयांचा निधी कलावंतांनी परत दिला आहे.11:50AM - बांगलादेशमध

[2015-10-29 08:58] mac2000 commented on #83
Seems that slugify do not have rules for that language (btw what language it is?).

Can you provide rules for transliteration? And some examples so we could make a pull request from it?

[2015-10-29 10:57] florianeckerstorfer commented on #83
@sharvari1 Slugify currently does not support Marathi, Hindi or Kannada (as @mac2000 mentioned we appreciate if you could provide transliterations for these).

Do you mean that the transliteration fail because it produces not the desired result or does it produce an PHP error or exception. If there is an error or exception could you please provide the following:

- Exact error message (and stack t

[2015-10-29 11:05] mac2000 commented on #83
Have checked - symbols are removed, only digits left, e.g. `$slugify->slugify('11:50AM - बांगलादेशमध्ये सलग तिसऱ्या वर्षी आशिया कप टी-ट्वेंटी स्पर्धेचे आयोजन करण्यात आले असून २४ फेब्रुवारी ते ६ मार्च दरम्यान ही स्पर्धा होणार आहे.')` will produce `11-50am`

[2015-10-29 11:17] florianeckerstorfer commented on #83
Thanks for checking this. Yes, we would need transliterations for these languages then.

For Hindi I found an alphabet which we could use: http://mylanguages.org/hindi_alphabet.php
But I could not find one for Marathi.

[2015-10-30 10:22] sharvari1 commented on #83
Thanks for reply but
if msg in marathi language is small  that time slugify work well (it gives proper result )but for long msg of marathi language it fail

i am using php of version 5.4.14
and slugify version =^1.3

[2015-10-30 10:26] florianeckerstorfer commented on #83
Can you specify how it fails. For PHP 5.6 the original message you posted did produce a valid result based on the current set of rules.

[2015-10-30 10:31] sharvari1 commented on #83
It  directly terminate the execution of program for php 5.4.14

[2015-10-30 11:20] florianeckerstorfer commented on #83
According to the [tests I added](https://travis-ci.org/cocur/slugify/builds/88312345) Slugify works fine with unknown unicode characters in PHP 5.4.37.

Can you try increasing PCRE backtrack limit? See http://www.karlrixon.co.uk/writing/php-regular-expression-fails-silently-on-long-strings/

[2015-11-03 08:32] florianeckerstorfer commented on #83
@Poojal123 Were you able to try increasing PCRE backtrack limit? Since we can't reproduce the bug I am closing this issue now. If you continue to have problems please reopen.

[2015-11-03 08:32] #83 closed

[2015-11-07 10:40] florianeckerstorfer commented on #80
I think this can be closed because of #81

[2015-11-07 10:40] #80 closed

[2015-11-07 10:41] florianeckerstorfer commented on #56
This should be solved by #81

[2015-11-07 10:41] #56 closed

[2016-01-13 06:30] bibeksigdel33 opened #92 "Compatibility with Symfony 3.0?"
Is this library compatible with php symfony 3.0 .

[2016-01-13 17:02] gfd6th commented on #47
[Check it on php manul](http://php.net/manual/en/regexp.reference.unicode.php)

[code]

[2016-02-08 00:17] sfgn commented on #92
I can't comment for the author of course, but I'm using it on a SF3 project with no issues encountered.

[2016-02-10 13:53] htulibacki opened #93 "Laravel and bindShared"
Can you release new version, so we can use Slugify with newest version of Laravel?

Thank you in advance!

[2016-02-11 09:44] #93 closed

[2016-02-11 09:51] florianeckerstorfer commented on #92
Yes, Slugify is compatible with Symfony 3.0. I will update `composer.json` to include both the 2.x and the 3.x branch, that way Travis will test the library against both versions.

[2016-02-11 09:51] #92 closed

[2016-02-11 13:51] GawainLynch opened #94 "1.4.1 should be tagged 2.0"
This [change was merged](https://github.com/cocur/slugify/commit/bd1cc47245805c530c97a8420c0d8fb99a71ed80) in November last year into your `2.0` branch… then the [2.0 branch was merged into master](https://github.com/cocur/slugify/commit/7534f95908bc493e13e5823a1b0626f2e3cbf7d2) soon after.

These changes, while awesome, break BC and Composer is pulling this in for Bolt users where our require is

[2016-02-11 15:54] florianeckerstorfer commented on #94
Damn, I created the tag from the wrong branch. This should be fixed now. Does it work for Bolt now?

[2016-02-11 16:19] GawainLynch commented on #94
Just re-running Travis now… but looking at the tagged branch I would say so.

I'll close now, with many thanks, and update if there is some weird unforeseen problem!

P.S. Looking forward to 2.0 from you all :+1:

[2016-02-11 16:19] #94 closed

[2016-02-11 16:20] florianeckerstorfer commented on #94
Great. Sorry, for messing this up. If there are any other problems please reopen this or create another issue.

[2016-02-11 20:39] florianeckerstorfer opened #95 "Feedback for 2.0 release"
I want to release 2.0 pretty soon but I would like to gather some feedback before. Please let me know if you already use the 2.0 (that is, the master branch) in your code or if you tried to use it and it didn't work out.

I am especially interested in the various integrations. Tests are one thing, using it in real world code another one and I don't have time (and, frankly, expertise for some of th

[2016-02-12 06:16] GawainLynch commented on #94
@florianeckerstorfer Just one thing I have noticed, [Packagist hasn't gotten the "new" tag](https://packagist.org/packages/cocur/slugify#v1.4.1):

[code]

[2016-02-12 06:23] GawainLynch commented on #95
Having only quickly messed around… porting our project was relatively straightforward. :+1:

Out one blocker for *our* upcoming major version bump would be the requirement of `PHP >= 5.6`.

Silex, Symfony and us have all gone for `>= 5.5.9` (I would love to have followed @Seldaek's charge with Monolog and gone for PHP 7+, but… real life), so would this make sense to follow suit on?

[2016-02-12 07:25] florianeckerstorfer commented on #94
I did a force update on Packagist, everything should be up-to-date now.

[2016-02-12 07:31] GawainLynch commented on #94
That looks to have gotten it… Thank you!

[2016-02-15 14:41] nino-s opened #96 "Version 1.4.1"
Does your newest release tag refer to the correct commit?

Current: 16cdd7e792657d524cde931ea666436623b23301
Master merge: 5b9c427e09d5b14587b9c5d0643a8e61d05fe2e1

With v1.4.1 - referring to 16cdd7e - i get errors which i dont get with the master merge. (`preg_replace(): Delimiter must not be alphanumeric or backslash at Slugify.php:804`)

[2016-02-15 21:47] florianeckerstorfer commented on #96
That is weird, when I check out the v1.4.1 branch everything works fine and I use v1.4.1 in some of my projects and everything is fine. I made a mistake when releasing v1.4.1 and initially created the tag from the master (that is 2.0) branch. I later deleted the tag and created it from the correct 1.4 branch. Could you manually remove the `vendor/cocur/slugify` directory and update using Composer

[2016-02-15 22:49] florianeckerstorfer commented on #95
I set the minimum version to 5.5.9, so that should work out now

[2016-02-16 06:44] GawainLynch commented on #95
Wonderful, thank you.

[2016-02-23 17:30] adadgio opened #99 "Empty regexp error when using option "lowercase" to false"
When specifiying the lowercase option

[code]

An error is thrown:

`Warning: preg_replace(): Empty regular expression`

Specifying a regexp as second option does not fix the issue either.

[2016-02-23 21:19] florianeckerstorfer commented on #99
Which version or branch are you using? Because there is a test and it passes for the `master` branch.

[2016-02-24 07:28] adadgio commented on #99
I'm using release 1.4. It doesn't pass unit tests according the git... ;-)

[2016-02-24 20:12] florianeckerstorfer commented on #99
According to Travis the 1.4 branch does work. (see https://travis-ci.org/cocur/slugify/builds/111551117)

I also tested it out on my machine and I can't reproduce the error. Which PHP version are you using?

[2016-02-24 21:52] florianeckerstorfer commented on #96
I am closing this, if you still have problems please reopen this issue.

[2016-02-24 21:52] #96 closed

[2016-02-24 21:53] #95 closed

[2016-02-25 07:58] adadgio commented on #99
PHP 5.6.16

[2016-02-26 07:19] florianeckerstorfer commented on #99
The AppVeyor tests failed. In this case AppVeyor failed because the setup of PHP on the windows machine didn't work.

[2016-03-11 18:27] tomshaw opened #100 "Works great with Slim 3"
Sample Slim/3 integration using the below configuration.

[code]

`<a href="/blog/{{ post.title|slugify }}">{{ post.title|raw }}</a> </h5>`

[2016-03-17 16:10] florianeckerstorfer commented on #100
Thanks, I added your example to the README.

[2016-03-17 16:10] #100 closed

[2016-03-17 16:10] florianeckerstorfer commented on #99
I am closing this, if the problem persists please reopen.

[2016-03-17 16:10] #99 closed

[2016-03-30 04:35] estahn opened #105 "Add ability to configure symfony slugify service"
#104

[2016-04-01 02:44] estahn commented on #105
@florianeckerstorfer Can your create a new version? I don't think there are any BC breaks.

[2016-04-01 16:37] florianeckerstorfer commented on #105
I guess that it should work, but can you confirm that moving the Extension to another namespace does not break existing installations?

[2016-04-03 02:45] estahn commented on #105
We haven't moved the extension to another namespace, have we? In either
case the extension is not directly used anyways. The bundle will be
included in the AppKernel and the extension is referenced in the bundle. If
you want to be 100% sure you can bump the major version, but I don't think
it's necessary.

On Sat, 2 Apr 2016, 3:38 AM Florian Eckerstorfer <notifications@github.com>
wrote:

[2016-04-04 07:45] florianeckerstorfer commented on #105
You're right, I miss read something there. I will create a new version as soon as I have time.

[2016-04-07 06:37] feedmeastraycat opened #107 "Bug on Swedish ruleset"
I think there is a bug in the Swedish ruleset. In both the [DefaultRuleProvider](https://github.com/cocur/slugify/blob/master/src/RuleProvider/DefaultRuleProvider.php#L754) and [swedish.json](https://github.com/cocur/slugify/blob/master/Resources/rules/swedish.json) file we have the following problems:
- Å and å is missing
- ö is changed to "ö" (instead of "o")

It looks like this in DefaultRulePr

[2016-04-08 18:43] #107 closed

[2016-04-08 18:44] feedmeastraycat commented on #107
👍

[2016-04-08 18:49] florianeckerstorfer commented on #105
Version 2.1.0 includes this. Thanks again for your PR.

[2016-04-08 18:49] #105 closed

[2016-05-25 19:07] wesleyvicthor opened #119 "ServiceProviderInterface not found"
hey guys, any guess why I got this error ?

I am on Silex 2 and Slugify 2.1

Fatal error: Interface 'Silex\ServiceProviderInterface' not found in /var/www/vendor/cocur/slugify/src/Bridge/Silex/SlugifyServiceProvider.php on line 28

just notice this interface is related to the silex application. the declaration I have in my codebase uses the pimple declaration. this is a version incompatibility ?

[2016-05-25 19:14] wesleyvicthor commented on #119
urgh, seems there is a lot of missing components ```Class 'Nette\DI\CompilerExtension' not found``` is that alright ? am I missing anything ?

[2016-05-31 10:10] florianeckerstorfer commented on #119
Slugify is not yet compatible with Silex 2.0

[2016-05-31 10:10] #119 closed

[2016-07-04 13:05] shamotj opened #120 "compatibility with Silex 2"
Current version is not compatible with Silex version 2. ServiceProviderInterface is no longer part of Silex 2. It is replaced with Pimple\ServiceProviderInterface. Only minor changes are needed to make it work. Question is, what about backward compatibility? Will new version support only Silex ^2.0 or earlier versions as well?

[2016-07-05 08:39] florianeckerstorfer commented on #120
Fixed by #121

[2016-07-05 08:39] #120 closed

[2016-07-12 14:36] ickbinhier opened #122 "bulgarian rules not in DefaultRuleProvider.php"
bulgarian rules from  slugify/Resources/rules/bulgarian.json not in  slugify/src/RuleProvider/DefaultRuleProvider.php

Is it wanted like that?

[2016-07-16 18:53] Dimimo commented on #47
Interesting question for I will sooner or later need this. After some research I have found this solution: [http://pastebin.com/zZfci0Dz](url). The URL won't look nice but it is re-translatable from UTF-8 to Chinese without a loss.

There are easier solutions but they are **not reliable** and even dangerous. Read this first reply to understand why: [http://stackoverflow.com/questions/5998607/conve

[2016-07-25 19:58] florianeckerstorfer commented on #122
Yes, that is intended.

[2016-07-25 19:58] #122 closed

[2016-08-01 13:53] BojidarStanchev opened #124 "regenerate rules"
run generate-default.php to generate rules, because the bulgarian is missing
and in the rule file for bulgarian the last entry finishes with a comma - remove it

[2016-08-06 18:36] #124 closed

[2016-08-08 11:09] veneliniliev opened #128 "Bulgarian support"
Please tag release version with bulgarian support :)

[2016-08-11 15:17] frederichoule opened #131 "Smart quotes are replaced by character number instead of being stripped"
Example:

Input: UNE FILLE DE TUMBLR A “NORMALISÉ” TOUS LES VISAGES ANIMÉS... ET C'EST PARFAIT!
Output: une-fille-de-tumblr-a-8220-normalise-8221-tous-les-visages-animes-et-c-est-parfait
Expected output: une-fille-de-tumblr-a-normalise-tous-les-visages-animes-et-c-est-parfait

The characters are called "smart quotes". More informations: http://smartquotesforsmartpeople.com/

[2016-08-11 15:18] frederichoule commented on #131
Smart quotes are valid in french and english - not sure about other languages tho.

[2016-08-19 13:16] mortenscheel opened #134 "Core functionality for earlier PHP versions?"
I'm maintaining a project on PHP 5.3, and I was able to make the Slugify::slugify() method work by converting arrays to old syntax in Slugify.php.

I realize that some of the framework integrations require a newer version of PHP, but if the core functionality doesn't, why not allow earlier versions?

[2016-08-28 15:30] rny commented on #47
[code]

echo empty, should be unchanged string '中文'.

[2016-08-29 17:20] #131 closed

[2016-08-29 17:20] frederichoule commented on #131
Issue was from the HTML codes (&#8220; &#8221;) instead of the actual quotes.

[2016-08-31 13:10] OndraM opened #136 "Symfony integration - missing rulesets with default configuration"
Hi,
since the feature to configure Slugify through the Symfony bundle configuration was added, the Slugify instance is now by default created without _any_ ruleset, thus converting all special characters to just the separator.

The problem is that with default configuration (ie. no custom config in symfony) empty array of `rulesets` is passed to the constructor. However, the constructor then uses

[2016-08-31 13:14] OndraM commented on #136
The workaround is to explicitly configure the default ruleset:

[code]

However, I guess the correct behavior is to not require any configuration by default.

[2016-09-08 21:58] nitinsurana opened #137 "Arabic doesn't slugify (with / without ruleset)"
Hi,

`كيف حالك` slugifies to `kyf-h-lk`

[2016-09-09 00:22] giovkanata commented on #137
What should be the right result?

[2016-09-09 02:08] nitinsurana commented on #137
I pasted the arabic into browser url and it showed up fine, so I guess what I'm expecting is arabic instead of translated english characters.

[2016-09-14 07:56] oozrafa commented on #137
This is the same that happens for Hebrew. So for example my final url after slugging it should be:
http://www.example.com/העמוד-שלי
this is because all browsers in the past (many many) years support Hebrew (and Arabic) characters in the url.

In order to fix this in 'src/Slugify.php' I updated the following line of code:
from
const LOWERCASE_NUMBERS_DASHES = '/([^A-Za-z0-9]|-)+/';
to
const LOWERCA

[2016-09-19 20:27] florianeckerstorfer commented on #137
You're absolutely right, we should add support to only remove characters like spaces and punctuation marks.

The problem is that the only real way to do this is to write either a list of all allowed characters or a list of all not-allowed characters. Both are a lot of work and prone to errors. If anyone wants to start working on this I would really appreciate this 😄

[2016-09-19 20:32] oozrafa commented on #137
So isn't there a way to add an option to add custom parameters to the regex, so that if needed anyone could easily add their own additions without the need to edit the source code each time the library is updated?

[2016-09-19 21:00] florianeckerstorfer commented on #137
You can change the default regexp super easily, using the constructor

[code]

[2016-09-20 12:24] picks44 commented on #47
+1 for the addition of the Chinese/pinyin

[2016-09-20 12:24] picks44 commented on #46
+1 for the addition of the Japanese

[2016-09-20 12:25] picks44 opened #138 "Korean support"
Can anybody work on a korean support ?

[2016-09-23 02:33] zoransa commented on #47
In order to make it Chinese/pinyin just modify Chinese string with

$str = transliterator_transliterate('Any-Latin', $str);

don't forget php requires "ext-intl": "*",

[2016-10-02 15:02] hardware opened #139 "Lowercase option issue"
Hi,

when I use lowercase option on the fly, i got this two warnings :

[code]

Result, the username isn't "slugified". Without this option, it works well but slugify convert the username to lowercase, which is not expected in my case.

Code :

[code]

Environment :

- OS: Alpine Linux 3.4
- PHP version : 7.0.11
- Extensions enabled : phar, openssl, pdo_mysql, iconv, mbstring, dom, curl, intl, jso

[2016-10-02 17:46] hardware commented on #139
Resolved using slugify object constructor :

[code]

[2016-10-02 17:46] #139 closed

[2016-10-19 08:47] aleemb opened #141 "slug() regex cleanup"
This

    const LOWERCASE_NUMBERS_DASHES = '/([^A-Za-z0-9]|-)+/';

would work just the same if rewritten as

    const LOWERCASE_NUMBERS_DASHES = '/([^A-Za-z0-9])+/';

or even clearer,

    const LOWERCASE_NUMBERS_DASHES = '/([^A-Za-z0-9]+)/';

The hyphen at the end seems superfluous given that the character class match `[^a-zA-Z0-9]` is already capturing the hyphen.

[2016-10-19 09:27] aleemb commented on #141
Sorry for the issue title changes. Meant to do them on my own issue tracker

[2016-10-19 12:04] florianeckerstorfer commented on #141
Could you please create PR, that would help me a lot.

[2016-10-19 19:15] aleemb commented on #141
@florianeckerstorfer I don't use this repo so haven't got a setup. I simply referenced your regex and character replacements but rolled the rest on my own due to different requirements. Would take me considerably longer to setup the repo and tests. However, since the hyphen is superfluous, it really won't make a difference whether you remove it or leave it in. Just wanted to make a note since I no

[2016-10-19 19:15] #141 closed

[2016-10-26 16:20] ibasaw opened #142 "ç in french is not in the default ruleset"
hi

You forgot to add the character 'ç' in the default ruleset, must replace it by c

++

[2016-10-28 11:59] #142 closed

[2016-11-03 15:49] epixilog commented on #137
For those who (like me) still have this problem, I found a solution here:

https://medrhamnia.wordpress.com/2014/07/04/symfony2doctrineextension-creer-des-slugs-pour-les-caracteres-non-latin-arabe-particulierement/

Maybe this can also inspire the guys working on that repository (I really hope had time to do it) thanks guys for the great job you're doing!

[2016-11-17 16:29] SuN-80 commented on #47
I suppose it could be easy to implement using a class like this as an addon: https://github.com/jifei/Pinyin/blob/master/Pinyin.php

[2017-01-17 18:06] TnCoders commented on #137
i Have the Same Issue in Stand alone test i Have this

`$string = 'وزيرة شؤون الشباب والرياضة';
$slugify = new \Cocur\Slugify\Slugify();
$slugify->activateRuleset('arabic');
echo $slugify->slugify($string);`

The Echo Show this : ozyr-sh-on-lshb-b-o-lry-d whish is not correct athe slug should be :

`وزيرة-شؤون-الشباب-و-الرياضة`

That's all

I tried As per the customizeSlugEngine docs, in the model

[2017-01-19 22:28] harsain opened #148 "Twig Bridge - no functionality to add rule"
As per the documentation, slugify has a method addRule which we can call to add custom rules, same is not available via twig bridge.
We have a use-case where we want to use the filter with a custom filter. So I started looking at the code base and seems it can be done with a small change to the SlugifyExtension. I have got it working on my environment and just wanted to your views before I submit

[2017-01-25 15:56] TnCoders commented on #137
This issue is still open any help please ? We have the same problem what can we do ?

[2017-01-26 21:53] TnCoders opened #149 "Arabic Slug"
`$string = 'وزيرة شؤون الشباب والرياضة'; `
[code]

`The Echo Show this : ozyr-sh-on-lshb-b-o-lry-d `

whish is not correct athe slug should be :

`وزيرة-شؤون-الشباب-و-الرياضة`

That's all

I tried As per the customizeSlugEngine docs, in the model that uses Sluggable, adding:

[code]
And the same Problem

[2017-02-07 17:01] cvetan opened #152 "Serbian support"
Could you please tag release with the serbian support since pr was merged. Greets.

[2017-02-09 19:32] florianeckerstorfer commented on #149
The current goal of this library is to convert characters into ASCII characters. There have been discussions about allowing to create UTF-8 slugs, but this is not yet implemented and planned for v3.0 (sorry, I don't have an ETA)

[2017-02-09 19:32] #149 closed

[2017-02-09 19:32] florianeckerstorfer commented on #152
Done, thanks for the PR

[2017-02-09 19:32] #152 closed

[2017-02-09 19:35] florianeckerstorfer commented on #148
You should call `addRules()` on the Slugify object before you inject it to the `Cocur\Slugify\Bridge\Twig\SlugifyExtension` constructor.

[2017-02-09 19:35] #128 closed

[2017-02-09 19:37] florianeckerstorfer commented on #134
PHP 5.3 is out of development for so long, it is time to move on.

[2017-02-09 19:37] #134 closed

[2017-02-10 03:15] harsain commented on #148
That's correct. but will only work if we know the rule to be added.
instead the scenario i am talking about is when the rule is not known and will be passed from the twig template.

So something like:

<p>{{name | slugify(null, {'&': 'and'}) }}</p>

As, you can see here the php  level code doesn't know the rule but will be passed from template

Regards,

[2017-02-10 17:36] nei commented on #148
This configuration would also be appreciated on SF bridge.

Something like this or anything that allow us to addRule for simple cases.

[code]

[2017-02-11 12:15] florianeckerstorfer commented on #148
@nei This would be the correct approach for solving this.

When we are talking about just the Twig integration because it could be part of the SF bridge, but it could also mean just straight-up Twig.

[2017-02-11 12:36] florianeckerstorfer commented on #137
The problem is that Slugify currently translates into ASCII characters. We hopefully address this problem in 3.0, but no ETA

[2017-02-11 12:36] #137 closed

[2017-02-11 12:50] florianeckerstorfer opened #157 "AppVeyor build is breaking"
Has someone any experience with AppVeyor and can help me fix the build on Windows? It seems that there is a problem installing or configuring PHP on the machine breaks.

[Link to latest build on AppVeyor](https://ci.appveyor.com/project/florianeckerstorfer/slugify)

[2017-02-12 18:31] TnCoders commented on #149
I would like to post a temp solution im using here where i can post it ?

[2017-02-14 00:06] harsain commented on #148
@florianeckerstorfer adding a tag would be a better option ...

I was more talking about the scenario where the Frontend guys don't know anything about the backend and have no knowledge about the configurations, in that scenario they can just pass and new rules directly from the twig template and no change in the backend will be required

[2017-02-21 12:26] SuN-80 commented on #47
Added Chinese support (pinyin): #158

[2017-02-27 22:11] masihfathi opened #160 "generate alias in the same language"
i want to generate alias from your grateful code, for example i want "تست برنامه" convert to "تست-برنامه", how can i do that? and is it possible to do it with this grateful code. it is in Persian language which is nearly same as the Arabic language in the structure.

[2017-02-28 20:37] giovkanata commented on #149
@TnCoders you can post your temporary solution here for now.

[2017-03-04 19:50] kavin-90 opened #161 "Fat-Free Framework support?"
Does it support Fat-Free Framework?

[2017-03-18 10:45] vtxmg commented on #160
+1

[2017-03-18 13:10] giovkanata commented on #160
As said by @florianeckerstorfer in #149

I don't know if already exist a library/alternative for that, but maybe @TnCoders can post his temp solution here or somewhere.

[2017-03-29 14:44] coders-market opened #165 "French is missing in DefaultRuleProvider"
Hi,

the French.json is available, but it isn't included in the DefaultRuleProvider. I run locally the generate-default.php and french was then added as well.

So this should be easy to fix.

Thank you!

[2017-04-02 10:52] isaac-perkins opened #166 "Hebrew Support?"
Any chance?

[2017-04-02 11:44] florianeckerstorfer commented on #166
Only if someone provides a good PR

[2017-04-10 16:12] gsouf commented on #165
As easy as this:

[code]

Took me about 3 minutes, including the time to open the PR. Is this repository maintained?

[2017-04-12 15:32] #165 closed

[2017-04-23 12:08] TomCan opened #169 "Missing getName on Twig_ExtensionInterface throws error"
I'm trying to implement this in Symfony 2.8 on PHP 7.0 and running against following error:

  [Symfony\Component\Debug\Exception\FatalErrorException]
  Error: Class Cocur\Slugify\Bridge\Twig\SlugifyExtension contains 1 abstract method and must therefore be declared abstract or implement the remaining methods (Twig_ExtensionInterface::getName)

If I manually add the getName() function to the class

[2017-04-23 12:18] TomCan commented on #169
#170

[2017-04-28 03:15] mkwsra commented on #137
@florianeckerstorfer Any idea when you guys gonna issue version 3.0?

[2017-05-03 22:10] xoco70 commented on #46
+1 for the addition of the Japanese

[2017-06-02 01:36] hifall commented on #47
#158 PR still not approved -- any progress? Thanks!

[2017-06-05 14:01] tbmatuka opened #173 "New release with French"
Could you please create a release that has French (since #167 is already merged). French is pretty common and I happen to need it on a project that goes to production soon and I'd like to avoid making a mess of my dependencies :)

[2017-06-06 11:22] SuN-80 commented on #47
I don't know why checks are not successful, but it works: https://getsongbpm.com/artist/zhoujie/3vJn
Unless someone can tell me what's wrong with conflicting files, you'll have to add Chinese rules manually and generate your own set of rules (like i did in the example above) using #158 .

[2017-06-12 09:40] stefangeorgescu opened #175 "Spanish language"
I see Spanish mentioned in the Features:
...Polish, Romanian, Russian, Serbian, **Spanish**, Swedish, Turkish, Ukrainian...
but there is no spanish.json in Resources/rules , is there another similar language I should be using or is it just a typo and spanish is not supported yet?

[2017-06-23 18:59] JakeFr commented on #169
Requirement for version 1 of twig was updated from 1.12 to 1.26 in order to support twig 2.
Make sure your project requires `"twig/twig": "~1.26"`
See PR #162 and [twig PR 2148](https://github.com/twigphp/Twig/pull/2148)

[2017-07-09 12:48] Spomky opened #177 "Missing characters in the French ruleset"
Two characters are missing in the French rulset: ÿ and Ÿ.
These characters are not commonly used (e.g. some city names or last names) but should available in any case.

See https://fr.wikipedia.org/wiki/%C5%B8 for more information.

[2017-07-14 10:40] pevdh opened #179 "Symfony 3.3 deprecation notice"
Just a heads up:

[2017-08-01 21:13] FabienPapet commented on #179
In your services.yml file just write
[code]

[2017-08-03 11:22] pevdh commented on #179
Yes, I should have noted that that works just fine. However, actually renaming the service would be nice in the long run (I hate such implementation details in my services.yml, but that might just be me).

[2017-08-07 10:43] DomLip94 opened #182 "Max-length?"
Has anyone thought about adding a max-length feature?

[2017-08-11 16:19] #177 closed

[2017-08-11 17:40] florianeckerstorfer commented on #182
What do you mean with a max-length feature? If you want to limit the number of characters in the slug you can do this either before or after invoking `Slugify::slugify()`.

[2017-08-11 17:42] florianeckerstorfer commented on #175
Spanish rules are in `default.json`. In Slugify v1.x there was only one list of rules and we have not yet refactored Spanish rules this their own file.

[2017-08-11 17:42] #175 closed

[2017-08-11 17:43] florianeckerstorfer commented on #175
If you want to provide a PR with all Spanish rules in a separate file I am happy to merge.

[2017-08-11 17:45] florianeckerstorfer commented on #161
There is no specific support for Fat-Free Framework, however, you can use the core functions with any framework.

[2017-08-11 17:45] #161 closed

[2017-08-11 19:07] #136 closed

[2017-08-22 11:32] #173 closed

[2017-09-11 20:47] pycarlos opened #184 "I had to install php7.1-mbstring"
It is php7.1-mbstring a requirement?

If true, I can add on readme

[2017-09-11 21:21] florianeckerstorfer commented on #184
Slugify uses `mb_strtolower()`, which should be part of the core PHP library (see http://php.net/manual/en/function.mb-strtolower.php). Which method did you use to install PHP?

[2017-09-11 21:22] florianeckerstorfer commented on #182
Since there was no further response I'm closing this.

[2017-09-11 21:22] #182 closed

[2017-09-11 21:23] florianeckerstorfer commented on #179
Can someone that uses Symfony 3.3 create an PR? Is the new version compatible with old versions of Symfony?

[2017-09-11 21:24] florianeckerstorfer commented on #169
Fixed by #170

[2017-09-11 21:24] #169 closed

[2017-09-11 21:27] florianeckerstorfer commented on #160
I'm closing this for now. Supporting this is planned for the future, but I need to figure out how to best implement this.

[2017-09-11 21:27] #160 closed

[2017-09-11 21:32] pycarlos commented on #184
I used
[code]
on Ubuntu 16.10

[2017-09-12 17:06] FabienPapet commented on #179
As far as I know, older versions of Symfony don't allow namespaces as service names. Perhaps we can add a version checker and correct this only for version > 3.3 ?

[2017-09-13 20:13] florianeckerstorfer commented on #184
You're right, you need to add `--enable-mbstring` when compiling PHP. We should add this to the docs.

[2017-09-13 20:15] #184 closed

[2017-09-13 20:17] florianeckerstorfer commented on #179
Since I'm not using Symfony right now can you create a PR? I would really appreciate it.

[2017-09-15 16:26] wandersonwhcr commented on #184
IMHO, I think we must add `ext-mbstring` into `require` attribute from `composer.json`. This change will works with all PHP installations with `mbstring` compiled, too.

@pycarlos you must not recompile PHP, but must install `php7.1-mbstring` using `apt-get`.

[code]

[2017-09-16 00:21] FabienPapet commented on #179
I'll try to work on it this week-end.

[2017-09-16 06:49] OskarStark commented on #184
Adding the ext to the composer.json is indeed the best approach to avoid further problems 👍🏻

@wandersonwhcr could you provide a PR?

[2017-09-16 16:36] wandersonwhcr commented on #184
Of course! Just a minute ;)

[2017-09-16 17:05] wandersonwhcr commented on #184
Done.

[2017-09-17 20:45] florianeckerstorfer commented on #179
Fixed by #185. Thank you @FabienPapet for the PR.

[2017-09-17 20:45] #179 closed

[2017-09-24 10:04] ibasaw opened #187 "Notice: Undefined index: french 500 Internal Server Error - ContextErrorException"
[code]

SF2.8 php7.1

[2017-09-24 10:35] florianeckerstorfer commented on #187
Can you post your `cocur_slugify` configuration?

[2017-09-24 13:29] ibasaw commented on #187
no conf at all

[2017-09-24 18:04] florianeckerstorfer commented on #187
Ok, I have a guess why the bug exists. I currently don't have access to my full dev environment, could you try to change lines 42-47 in `CocurSlugifyExtension.php` to:

[code]

[2017-09-24 18:21] ibasaw commented on #187
not more, same problem

[2017-09-24 20:17] florianeckerstorfer commented on #187
Do you encounter this problem in the `production` environment? In that cause you probably need to clear the cache:

[code]

[2017-09-24 20:19] ibasaw commented on #187
in dev for now, not tested my site yet in prod

[2017-09-24 20:20] florianeckerstorfer commented on #187
Do you have a more precise error message (found in `app/logs/dev.log`)? I just set up a new Symfony 2.8 project with Slugify v3.0.1 and everything worked fine.

[2017-09-24 20:44] ibasaw commented on #187
i'm stuck at 2.5 because of sonata core 2.xdev use your bundle at 2.x...

[2017-09-24 20:52] florianeckerstorfer commented on #187
Ah ok, The French ruleset has been added in 3.0, but the rules have been part of the general section before. Just remove  the `activateRuleset()`line. The transliteration for `ÿ` and `Ÿ` are missing, but you can add them using custom rules.

Or you can ask Sonata to update to Slugify 3.0

[2017-09-24 20:52] #187 closed

[2017-10-13 12:31] ThomasLandauer commented on #179
Is this fix really working?

My `Kernel::VERSION_ID` is 30306, and I still get the deprecation notice. It only disappears if I add this to my `services.yml`:
[code]

[2017-10-13 12:47] florianeckerstorfer commented on #179
@ThomasLandauer Since I don't use Symfony right now, can anyone verify this?

[2017-10-13 13:01] ThomasLandauer commented on #179
@FabienPapet you missed `Interface` ;-) I fixed it here https://github.com/cocur/slugify/pull/191/files

You need to clear your cache.

[2017-10-13 13:41] wandersonwhcr commented on #157
[code]
Can you dump these files?

[code]

I'm a heavy Linux user and I have not used Windows for 10 years or more.

[2017-10-13 13:47] wandersonwhcr commented on #157
Chocolatey PHP Approved Package: https://chocolatey.org/packages/php

[2017-10-13 13:52] wandersonwhcr commented on #157
Chocolatey KB3035131 Approved Package: https://chocolatey.org/packages/KB3035131
Maintainer: jberezanski https://chocolatey.org/profiles/jberezanski https://github.com/jberezanski

[2017-10-13 13:53] wandersonwhcr commented on #157
GitHub Project: https://github.com/jberezanski/ChocolateyPackages

[2017-10-13 14:44] wandersonwhcr commented on #157
I dumped `C:\Users\appveyor\AppData\Local\Temp\1\chocolatey\KB3035131.Install.evt`, and I just found a lot of binary content. But, there's some messages:

[code]

[2017-10-13 14:59] wandersonwhcr commented on #157
Damn! I found a solution!

KB3035131 0X80070422
https://github.com/phpmd/phpmd/blob/master/appveyor.yml#L12-L13

[2017-10-13 14:59] wandersonwhcr commented on #157
I'll create a PR soon.

[2017-10-13 16:06] FabienPapet commented on #179
Maybe it's worth to add both Interface and class FQN ? as this PR will add
Deprecation notices on people using just the classname

2017-10-13 15:01 GMT+02:00 Thomas Landauer <notifications@github.com>:

[2017-10-13 16:08] wandersonwhcr commented on #157
Gotcha!

[code]

[2017-10-13 16:22] florianeckerstorfer commented on #157
Aweseome. I also used Windows for the last time over 10 years ago. Thanks a lot.

[2017-10-13 16:22] wandersonwhcr commented on #157
I am creating a PR right now.

[2017-10-13 16:30] ThomasLandauer commented on #179
You mean, if you inject it like this? `public function __construct(\Cocur\Slugify\Slugify $slugify)`

I wasn't aware that this would work. I suggested the other way here: https://github.com/cocur/slugify#symfony

@florianeckerstorfer What's the preferred way?

[2017-10-13 16:41] florianeckerstorfer commented on #179
Sorry, I can't really say because I have no used this feature in Symfony (I'm no longer payed to write PHP code so this also will not change soon). I need your advice here?

Is it possible to add two aliases?

[2017-10-13 16:42] FabienPapet commented on #179
Yes , this will work, this is what I did on a project.
I forget to add doc about it when I submitted the PR,  fixed now

[2017-10-13 16:45] #157 closed

[2017-10-31 08:46] SuN-80 commented on #46
I gave it a try some months ago and it's more complicated to implement than Chinese. But I've stopped working on this because nobody was able help me understand why my Chinese pull request failed 2 checks, while it works perfectly (#158).

[2017-10-31 11:14] wandersonwhcr commented on #46
Please, can you rebase your branch to `master`?

[2017-11-30 14:55] florianeckerstorfer commented on #47
Fixed by #195

[2017-11-30 14:55] #47 closed

[2017-12-25 11:36] zeknoss commented on #149
Hi @TnCoders, how did you solve the problem? Can you post it here?

[2017-12-25 16:29] TnCoders commented on #149
@zeknoss Hi, This is how i fixed it 1 years ago :

in config/sluggable.php
---
[code]
---
### and you are done with it :+1:

[2017-12-31 19:59] ismaail commented on #3
Would you mind tagging a new release, please ?

[2018-02-22 07:49] rem42 opened #196 "Add Symfony 4 / flex support ?"

[2018-03-09 14:38] saurabh2k26 opened #200 "Wrong slug generated"
Input is: Saurabh's Blog
Expected output: saurabhs-blog
Actual output: saurabh-s-blog

[2018-03-09 15:29] florianeckerstorfer commented on #200
Can you post the code you are using?

[2018-03-12 09:38] chebaby commented on #137
I had the same issue with the Arabic characters (it's always the case)
So here is what i did

(**Slugify.php**)

I changed this line  :
    `const LOWERCASE_NUMBERS_DASHES = '/([^A-Za-z0-9]|-)+/';`
To :
    `const LOWERCASE_NUMBERS_DASHES = '/([^\p{Arabic}a-zA-Z0-9]+|-+)/u';`

(**DefaultRuleProvider.php**)

I also replaced the array rule correspond to the arabic to the following :

[code]

[2018-03-24 15:00] Alsciende opened #202 "Ability to add a project-specific ruleset"
Hello, I'm using slugify with its Symfony integration, and it works very well (thank you!).

The language I'm transliterating from is a fantasy language, so it's not covered by a bundled ruleset. I can get what I need by using default and some other rulesets, like latvian, but I'd like to craft a ruleset specific to my fantasy language. I figure it would be cleaner and make the service faster.

Is

[2018-03-27 09:06] florianeckerstorfer commented on #202
For project-specific rules just add them to the Slugify using `addRule()` or `addRules()`.

[2018-03-27 09:06] #202 closed

[2018-05-03 06:39] EraYaN commented on #46
Something like
[code]

Already transliterates some Japanese, although kanji is still very much an issue, It seem to just take the first reading it can find.

A better option would probably be something like MeCab.

Some example implementations:
https://github.com/MikimotoH/furigana
https://ankiweb.net/shared/info/3918629684

It does add a C++ dependency: https://github.com/taku910/mecab
There seem

[2018-05-28 10:56] raffomania opened #204 "Rename Symfony service to use Class name instead of 'cocur_slugify'"
Using symfony 3.4, I get the following deprecation warning:

Symfony now expects services to be named according to their fully qualified classname. This should be an easy and backwards compatible fix to make.

[2018-06-04 10:34] aguillotc commented on #204
I second this.

[2018-06-05 06:56] yelnyaface opened #205 "Slugify not working with chinese characters"
i tried $slugify->slugify('活动日起');

but it always return ""

how can I convert it into pinyin?

[2018-06-06 17:56] sornbarang opened #206 "issue khmer language return empty"
$slugify->slugify('ដំណឹងល្អ'); return "";

[2018-06-11 07:59] fede91it commented on #205
Also for me

Trying to translate any Chinese string, the result is always an empty string.

[2018-06-11 08:13] fede91it commented on #205
I just noticed one interesting thing...

[code]

It returns an empty string, but...

[code]

It correctly returns **huodongriqi** that is the expected output.

I therefore think that there is a problem with the automatic detection of Chinese. The string is not recognized and therefore the output is not provided.

[2018-06-11 08:22] fede91it commented on #205
Ok @yelnyaface this is not a bug.

The documentation expressly states that, for obvious reasons, not all rules are active by default, because conflicts would arise.

It is therefore right that the Chinese must be activated before it is used.

[2018-06-11 08:37] yelnyaface commented on #205
yes, but it is hard to know when to expect chinese characters

`->activateRuleSet('chinese')` works, but one needs to know when to expect chinese characters,

is there some way to detect the charset so `activateRuleSet('chinese')` can be used?

[2018-06-11 08:56] fede91it commented on #205
I think you could use

[code]

specifying all yout activable languages and their ordering

[2018-06-14 14:07] strohhut opened #207 "Missing german letter"
There is a rule for the lower case version of the german Eszett / scharfes S (ẞ \xc3\x9f) but not for the uppercase (ẞ \xe1\xba\x9e).

Should be `"ẞ": "SS"` I guess.

[2018-06-17 10:46] FabienPapet commented on #204
Just use `SlugifyInterface` in your constructor instead of `Slugify`

[2018-06-17 13:33] Pazns commented on #148
Putting this kind of logic inside your template seems like a good idea to get unmanageable code.

[2018-06-17 13:45] raffomania commented on #204
This works, but leaves out services that don't use autowiring. Since FQCN naming is the officially recommended way forward, wouldn't it make sense to use it? You could just alias the old service to the up-to-date definition to stay backwards compatible.

[2018-06-17 14:15] FabienPapet commented on #204
Not sure about that, just type `bin/console debug:container --types` and you'll see there's plenty of services that use interfaces.
If you don't use autowiring, you can still inject the service and use SlugifyInterface as argument.

[2018-06-17 15:07] Pazns commented on #204
@raffomania
I had this same error at work with some legacy code, and resolved it exactly by doing this advice.
Had no problem with some other services declared manually.

It's common, and good practice, to expect interfaces and inject a concrete implementation.
It's more DI-friendly and avoids unnecessary coupling.

[2018-06-29 14:45] kiler129 opened #208 "Symfony Flex Recipe"
The bundle integrates nicely with Symfony, but I discovered setup has to be done manually.
Maybe the maintainer can add Symfony Flex recipe for 4.x integration?

[2018-07-16 08:39] Spomky commented on #208
Sure it is a great idea.
What I wanted to highlight is that you cannot create a Flex receipe using this library as-is unless the package type is changed from `library` to `symfony-bundle`.

[2018-07-28 16:37] mohamedsabil83 opened #211 "Slug with keeping original letter"
How can I use this package to make Arabic slugging with keeping Arabic chars as it is without changing to English letter?

[2018-09-19 20:41] florianeckerstorfer commented on #211
@mohamedsabil83 First of all, sorry for the late reply. I know that this is an issue.

When I first created this library, the goal was to turn Unicode characters into ASCII. By now, the world has moved on and most browsers support Punycode URLs and we no longer need to convert all Unicode characters (such as Arabic chars or German umlauts) into ASCII. However, we didn't have time yet to add suppor

[2018-09-19 20:41] #211 closed

[2018-09-19 20:43] florianeckerstorfer commented on #208
@Spomky I can only add one type to `composer.json`, right? The problem is that this repo is not only a `symfony-bundle` that offers integrations to a bunch of different frameworks. Labelling as a `symfony-bundle` in Composer would confuse more people than it helps, I think.

[2018-09-19 21:28] kubawerlos commented on #208
but only

[PHP CS Fixer](https://github.com/FriendsOfPHP/PHP-CS-Fixer) has recipe beign `library`.

[2018-12-07 07:13] DemigodCode commented on #46
I think that issue can be closed.

[2018-12-11 10:20] DemigodCode commented on #208
Hey, the symfony bundle version will be available soon. But a flex recipe is not recommended, if the bundle has no configuration. This new bundle will have the same configuration as now, but it'll have no default configuration. See https://github.com/symfony/recipes.

[2018-12-11 10:39] DemigodCode commented on #204
I will set up the FQCN in the new bundle and add an alias for cocur_slugify.

[2019-01-15 11:58] MrMitch opened #223 "Is a new release with the last commits possible ?"
Hi @florianeckerstorfer !
Thank you for keeping this project up to date and merging PRs.

Would you be able to tag a new release that would include the [last bunch of commits](https://github.com/cocur/slugify/compare/v3.1...master) that :

- added a new language (#213, #221)
- fixed some languages (#212)
- added new options (#201, #216)
- removed a deprecation warning happening in Symfony 4.2 that

[2019-01-31 20:40] florianeckerstorfer commented on #223
Thanks for the reminder, yes, a new release was long overdue. v3.2 is out now

[2019-01-31 20:40] #223 closed

[2019-01-31 20:42] MrMitch commented on #223
@florianeckerstorfer thanks you very much !

[2019-02-26 11:30] Qrzysio opened #226 "Dirty string with ampersands"
How about a bit more dirty string with ampersands after `htmlspecialchars()`?

`$str = '*** ____ &quot;Hello world&quot; Anything ___ *** - something';`

The above gives us `quot-hello-world-quot-anything-something`. Shouldn't the `slugify` cut everything between `&` and `;`?

[2019-02-26 18:53] florianeckerstorfer commented on #226
No, it should not. The purpose of this library is to replace special characters with `-`, not clean up strings. Why are you running htmlspecialchars() before passing the string to `slugify`?

[2019-03-25 14:47] HMAZonderland commented on #40
Is either one of you actually dutch? Because `mijn foto's` in dutch actually translate to `my pictures / photos` it implies that there are multiple, not `mijn foto is`.

[2019-06-27 19:01] morshedx opened #229 "Bangla Support"
Can anybody work on a Bangla support?

[2019-11-08 09:16] hoangnamitc opened #233 "How to rulesets thailand language ?"
Hi,

I can't find language thailand into rulesets. this package support for thailand language?

thanks!

[2019-11-08 09:30] hoangnamitc commented on #206
this package not yet support rule khmer !

[2019-11-08 11:40] DemigodCode commented on #233
Not at the moment.

Here you will find supported languages: https://github.com/cocur/slugify/tree/master/Resources/rules

Fell free to create a PR

[2019-11-08 11:40] DemigodCode commented on #229
https://github.com/cocur/slugify/tree/master/Resources/rules

You have to add a .json file for your language and replace all non-standard characters

[2019-11-08 14:00] hoangnamitc commented on #233
Thanks!

[2019-11-10 12:54] florianeckerstorfer commented on #206
@sornbarang If you could provide transliterations Khmer then we are happy to accept a pull request

[2019-11-10 12:54] #206 closed

[2019-11-22 01:03] #46 closed

[2019-11-22 10:52] dant89 opened #234 "Not Symfony 5 compatible"
The current composer.json values for Symfony packages prevent this project being compatible with Symfony 5.

[code]
To allow for testing `~5.0` could be added to the above three Symfony components which should be all that's needed.

[2019-11-22 13:03] keulinho opened #235 "Not Twig 3.0.0 Compatible"
The project is currently not Twig 3.0.0 compatible.

The extended global `\Twig_Extension` class doesn't exist anymore.
To add Twig 3.0.0 support it is problably necessary to drop Twig 1 support.

[2019-11-24 09:00] mhujer commented on #235
@keulinho See https://github.com/cocur/slugify/pull/236

[2019-11-26 16:32] florianeckerstorfer commented on #234
@dant89 Could you create a PR for this?

[2019-11-27 09:55] keulinho commented on #235
@florianeckerstorfer with https://github.com/cocur/slugify/pull/236 being merged dev-master is compatible with twig 3.0

is there a timeline when we can expect this being released?

[2019-12-05 06:28] #234 closed

[2019-12-07 13:56] jarekkowol opened #252 "Class 'Twig_Extension' not found in Symfony 4.4"
After upgrade from Symfony 4.3 to 4.4 i have problem with Twig extension.

In SlugifyExtension.php line 26:
Class 'Twig_Extension' not found

CRITICAL  [php] Uncaught Error: Class 'Twig_Extension' not found ["exception" => Error { …}]

Attempted to load class "Twig_Extension" from the global namespace.
!!    Did you forget a "use" statement?

[2019-12-09 12:34] florianeckerstorfer commented on #252
I think the upgrade from 4.3 to 4.4 upgrades Twig to version 3, which is currently not yet compatible with Slugify. A WIP PR is already there #238

I hope we can have a new version of Slugify out this week which should fix a few compatibility issues

[2019-12-11 09:54] FabienPapet commented on #252
You can still update to Symfony 4.4 by fixing your twig version in your composer.json by running

`composer require twig/twig ~2.0`

[2019-12-12 10:03] florianeckerstorfer commented on #235
@keulinho With #238 being merged this should be fine now. Release will probably happen on the weekend

[2019-12-12 10:03] #235 closed

[2019-12-19 21:57] FabienPapet commented on #204
Do we need to keep this issue open ?

[2019-12-22 19:35] florianeckerstorfer commented on #204
@FabienPapet You're right, this should have been fixed with 4.0

[2019-12-22 19:35] #204 closed

[2020-01-07 19:46] tenq opened #254 "Adjustment for Portuguese-brazil rules"
In https://github.com/cocur/slugify/blob/master/Resources/rules/portuguese-brazil.json (line 66) and  https://github.com/cocur/slugify/blob/master/src/RuleProvider/DefaultRuleProvider.php (line 8081), adjust for correct caracter:

Instead: _'é' => 'é',_
Use: **'é' => 'e',**

[2020-01-12 22:05] NoNoNo opened #255 "TypeError with Nette 3"
I get a TypeError with Nette 3:

I managed to fix this with:

[code]

[2020-01-17 15:09] florianeckerstorfer commented on #254
@tenq Could you create a PR for this? If you need any help please let me know.

[2020-01-17 15:10] florianeckerstorfer commented on #255
@NoNoNo Could you create a PR for this? If you need any help please let me know.

[2020-01-17 16:31] ZaneCEO commented on #252
Slugify was updated to fix this issue: https://github.com/cocur/slugify/releases/tag/v4.0.0 I can confirm that the fix is effective. We can close this is now.

[2020-01-17 16:45] #252 closed

[2020-01-19 22:53] chrisemerson opened #256 "Conflicts with Twig"
The latest version of this package conflicts in composer with the Twig version I currently have, however I have no intention of using the Twig integration. I presume the conflict marker is there due to version support for the Twig bridge rather than a genuine code conflict, so it seems bad that I'm prevented from using your package because of this? Upgrading Twig in my project will be a huge under

[2020-01-21 14:02] ickbinhier opened #258 "zendframework is abandoned"
Hello,

composer say:

Package zendframework/zend-modulemanager is abandoned, you should avoid using it. Use laminas/laminas-modulemanager instead.

Can you fix this....

[2020-01-21 16:20] NoNoNo commented on #255
@florianeckerstorfer Sorry, I don’t know how to fix the unit tests:

(same problem as [PR #231](https://github.com/cocur/slugify/pull/231))

[2020-05-31 16:39] tenq commented on #200
I'm with same problem in portuguese.

Input is: Um mês de conteúdo
Expected output: um-mes-de-conteudo
Actual output: um-me-s-de-conteu-do

Whenever you replace a character, you add (in addition to the replaced character) a separator.

[2020-06-01 19:16] VottusCode commented on #255
Yeah, I got the same errors as @NoNoNo when I was attempting to fix the unit test in my PR.
I thought that there's only something wrong with me, as I write tests in Nette Tester and I don't use Mockery.

[2020-07-15 20:33] ThomasLandauer opened #267 "Take next character into account for *uppercase* german umlauts"
According to https://github.com/cocur/slugify/blob/master/Resources/rules/austrian.json#L3 and https://github.com/cocur/slugify/blob/master/Resources/rules/german.json#L3 "Österreich" will be slugified to "OEsterreich", but it should be "Oesterreich". However, when it's all uppercase "OESTERREICH" is correct (not "OeSTERREICH"). So the perfect (?) solution probably would be to check if the next ch

[2020-07-15 21:04] ThomasLandauer opened #269 "Replace `&` with `and` by default"
Currently, `b&c` gets slugified to `b_c`, but I think `b_and_c` would be better. So what about adding a `&` line to every language ruleset, replacing it with the word ` and ` in that language?

BTW: @harsain does the same in https://github.com/cocur/slugify/issues/148#issuecomment-278846935

[2020-07-17 01:37] tsantos84 opened #270 "Generated ruleset different from the json file"
I'm trying to use the slugify component but I'm getting a different replacement for the character `ç` on `portuguese-brazilian` ruleset.

The generated file (e.g DefaultRuleProvider) has the character `ç` mapping to `ç` whereas the same character in the json file maps to `c`.

[2020-08-10 07:37] doganoo commented on #258
@florianeckerstorfer are there any plans to migrate from zend to laminas?

[2020-08-10 08:06] froschdesign commented on #258
@doganoo
See #261

[2020-10-27 17:21] lostfocus opened #274 "Symfony Bundle ignores ruleset"
I'm trying to get the ruleset working for a project running on Symfony 4.4.

The bundle is activated in the `bundles.php` and my `cocur_slugify.yaml` looks like this

[code]

and when I run `bin/console debug:config CocurSlugifyBundle` it looks like it get the information:

[code]

I then add Slugify to a Service class through the interface:

[code]

And then I was hoping that a `$this->slugify->s

[2020-10-27 17:49] lostfocus commented on #274
Okay, the problem isn't Symfony. I close this ticket and try to formulate one for the real problem that just occurred here.

[2020-10-27 17:49] #274 closed

[2020-10-27 18:00] lostfocus opened #275 "Problem with combining characters"
When trying to debug #274 I ran into a weird-ish problem. I got a string from a source that looked like a "normal" unicode string with two German umlauts, but it turned out to use [Combining Characters](https://en.wikipedia.org/wiki/Combining_character) (This StackOverflow question sent me down the right path in the end: [Strange umlaut encoding on file system](https://stackoverflow.com/questions/

[2020-10-27 20:03] ausi commented on #275
If you have the `intl` extension installed on your system you can use the `Normalizer` class to fix that issue:

[code]

[2020-10-28 12:50] florianeckerstorfer commented on #275
@lostfocus Interesting. I think it should be possible to add the German umlauts with combining characters to the ruleset and it should work. But I have not tried that out.

[2020-12-20 07:09] ShivPandey opened #276 "There is any options to convert in Unicode symbols to description"
Input:
'unicode ♥'
Output:
'unicode-love'

[2020-12-23 11:55] florianeckerstorfer commented on #276
In theory this would be possible by adding a rules for Emoji or other unicode characters. However, we do not have such a list at the moment, because I think there would be a lot of discussion around what is the correct name. Just looking at your example, you would translate ❤️  into `love`, some people would translate it into `heart` and the official description is `red heart`.

[2020-12-23 11:57] florianeckerstorfer commented on #276
I'm closing this issue, if you're interesting you can create a rule set which you can use just for your project ([here](https://github.com/github/gemoji/blob/master/db/emoji.json) is a database with emoji names) and you can create a PR and we will take it under consideration.

[2020-12-23 11:57] #276 closed

[2020-12-24 00:33] ausi commented on #276
@ShivPandey you can use the following code with the https://github.com/ausi/slug-generator library:

[code]

This converts symbols to their unicode names, but as you can see in the examples above they might not be the exact names you are looking for.

[2021-12-07 15:59] Evgeny1973 opened #298 "User Deprecated"
Can you update, please?
Symfony 5.4, Slugify 4.0.0

`User Deprecated: Method "Symfony\Component\HttpKernel\Bundle\Bundle::getContainerExtension()" might add "?ExtensionInterface" as a native return type declaration in the future. Do the same in child class "Cocur\Slugify\Bridge\Symfony\CocurSlugifyBundle" now to avoid errors or add an explicit @return annotation to suppress this message.`

[2021-12-19 17:06] GromNaN commented on #298
Should be fixed.
https://github.com/cocur/slugify/pull/299

[2022-01-06 12:52] the94air commented on #137
Missing some characters
[code]

[2022-01-07 00:28] ph-il commented on #298
Is there's a date for a new version?

[2022-01-07 07:18] ZaneCEO commented on #298
The last release is from December 2019, so I'm not really sure what to expect.

Meanwhile, I change to `"cocur/slugify": "dev-master",` in my `composer.json` and the issue is fixed. I hope to switch back soon, but for now, it works.

[2022-01-07 09:47] florianeckerstorfer commented on #298
I was travelling over Christmas and New Years and started to work on my OSS projects again this week. I hope I can get a new version out this weekend.

[2022-01-11 20:52] florianeckerstorfer commented on #298
Released v4.1.0

[2022-01-31 09:54] petrk94 opened #302 "Issue with usage, example doesnt work after installing with composer"
Hello,
Im facing an, hopefully easy to solve issue, but I really dont know what the problem is.
Im using the example of the github repository, the first one and installed it in the parent directory now using in the same directory the test.php file and its telling me

Attached a screenshot, hopefully someone can help.
Im using PHP 7.4

![image](https://user-images.githubusercontent.com/19719052/151

[2022-01-31 10:08] florianeckerstorfer commented on #302
If you use this example with Composer do you have auto-loading enabled?

[2022-01-31 11:02] kktsvetkov commented on #302
@petrk94 You need to include the composer beforehand
[code]

[2022-01-31 22:22] petrk94 commented on #302
Shame on me, thank you, I totally forgot that^^

[2022-01-31 22:22] #302 closed

[2022-03-18 13:46] Ijazweb opened #303 "how to get slug without translation"
how to get slug without translation

[2022-06-07 14:06] nabeeljavaid opened #308 "Laravel 9 Support"
Please add Laravel9 support in the package

[2022-07-03 08:15] #233 closed

[2022-07-19 14:16] shmuel-livshits opened #311 "Sign « changes on quot"
When I enter sign « word quot is inserted in the slug

[2022-07-27 18:44] bastiaandewaele commented on #308
I am having the same problem here, because another package called [cviebrock/eloquent-sluggable](https://github.com/cviebrock/eloquent-sluggable) uses this one as a dependency :)

When I try updating Laravel 8 to 9 by using composer, I am seeing this error.

[code]

This is because your lock file is stuck at 2.1.25 (egulias/email-validator) and should become ^3.1.

https://github.com/cocur/slugify

[2022-08-13 10:17] florianeckerstorfer commented on #308
I'm happy to merge a Pull Request that addresses this

[2022-08-13 10:21] florianeckerstorfer commented on #311
@shmuel-livshits I cannot reproduce this, can you provide a more detailed example?

[2022-08-13 10:22] florianeckerstorfer commented on #303
I don't understand the question. Closing, please re-open if you have more to add to the question

[2022-08-13 10:22] #303 closed

[2022-08-13 10:23] florianeckerstorfer commented on #270
I'm closing this because this has been open too long and I think it has been fixed in the mean time.

[2022-08-13 10:23] #270 closed

[2022-08-13 10:25] #207 closed

[2022-08-13 10:32] #298 closed

[2022-08-13 10:32] #311 closed

[2022-08-13 10:32] #275 closed

[2022-08-13 10:49] bastiaandewaele commented on #308
Ok, great! I will try making the PR next week :)

[2022-09-08 15:29] dkarlovi opened #316 "Split DefaultRules into deparate files"
Currently, when you use the default rule provider, it loads into memory fully. This means all the rules are loaded each time, even though it's very unlikely you'll require all of them.

A better approach would be to generate one file per rule and use that to wire the rules on demand, probably using autoloading.

I've found this issue using [meminfo](https://github.com/BitOne/php-meminfo) on my app

[2022-10-21 13:59] aadmathijssen opened #318 "Add command-line interface to this package?"
When writing command-line scripts, I frequently have the need for a command-line tool that allows me to transform strings to slugs. Because none of the existing CLI tools satisfied my needs, I have created a (still unpublished) CLI wrapper for the `cocur/slugify` package, where each option that can be supplied via the `Slugify` constructor is available as a command-line option.

For instance the f

[2022-11-04 15:51] aadmathijssen commented on #318
Today I have published the CLI wrapper as a [separate Composer package](https://github.com/isaaceindhoven/slugify-cli).

Therefore, I will close this issue.

If there is any interest in the future to add a command-line interface to the library itself, this issue can be reopened.

[2022-11-04 15:51] #318 closed

[2022-11-18 09:24] fezfez opened #319 "release for php 8.2"
Hello,

`main` is compatible with PHP 8.2 but there is no release yet.
Can you create release 4.3.0 ?

Thanks in advance and thanks for your work :+1:

[2022-11-22 21:47] kniziol commented on #200
@saurabh2k26 To be honest, it’s good idea to replace any character different than `a-z` or `0-9` with separator. In this case apostrophe is also replaced with `-`. It’s simple and clear.

If we would like to go another way, additional options would be needed to implement:
1. regex that matches all special characters like apostrophe
2. separator used to replace these special characters

Optionally

[2022-11-22 21:52] kniziol commented on #200
@tenq Have you tried to use `portuguese-brazil` or `french` ruleset?
[code]